@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display : flex;
    justify-content:space-around;
    flex-direction: column;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTguShE9XkKwMf1hobBC8AwlK8hd35L_XMIHg&usqp=CAU);
    
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgb(10, 245, 81);
    font-weight: bold;
}